[submodule "themes/hugo-now-ui"]
	path = themes/hugo-now-ui
	url = https://github.com/cboettig/hugo-now-ui
[submodule "themes/forty"]
	path = themes/forty
	url = https://github.com/MarcusVirg/forty
[submodule "themes/hugo-portfolio-theme"]
	path = themes/hugo-portfolio-theme
	url = https://github.com/ccccc382/hugo-portfolio-theme
